.container {
  font-weight: bold;
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content {
  text-align: center;
}

.btn {
  font-size: x-large;
}
